.header-container {
  display: flex;
  background-color: #f1f5f9;
  height: 10vh;
  align-items: center;
}

.logo {
  height: 40px;
  width: 120px;
  margin-left: 50px;
}

.nav-link {
  text-decoration: none;
}
